@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-color: #1f4590;
  --second-color: #ffa451;
  --body-color: #d0fcff;

  --main-font: "Open Sans", sans-serif;
  --heading-font: "Raleway", sans-serif;
}

body {
  background-color: var(--body-color);
  font-family: var(--main-font);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

section {
  margin-top: 200px;
}

.container {
  max-width: 1500px;
}

.navbar .nav-wrapper {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.nav-wrapper .menu-toggle {
  display: none;
}

.nav-wrapper .logo {
  font-size: 2.8rem;
  font-family: var(--heading-font);
  font-weight: 600;
  color: var(--main-color);
}

.nav-wrapper .logo span {
  font-size: 1.8rem;

  color: var(--second-color);
}

.nav-wrapper .menu-wrapper {
  display: flex;
  gap: 50px;
}

.nav-wrapper .menu-wrapper .menu {
  display: flex;
  align-items: center;
  gap: 70px;
}

.nav-wrapper .menu-wrapper .menu .menu-link {
  font-size: 1.25rem;
  font-family: var(--heading-font);
  font-weight: 500;
}
.menu .menu-item .menu-link {
  color: var(--main-color);
}

.nav-wrapper .menu-wrapper .menu .menu-link.active {
  font-weight: 700;
  color: var(--second-color);
}

.menu-wrapper .btn-member {
  font-family: var(--heading-font);
  color: white;
  font-weight: 600;
  background-color: var(--second-color);
  padding: 25px 25px;
  border-radius: 50px;
}

/* Home Start */
.home {
  margin-top: 110px;
}
.home .home-wrapper {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home-wrapper .heading {
  font-size: 3.4rem;
  font-family: var(--heading-font);
  font-weight: 700;
  color: var(--main-color);
}

.home-wrapper .heading span {
  font-size: 2.5rem;
  color: var(--second-color);
}

.home-wrapper .subheading {
  font-size: 1.125rem;
  font-family: var(--main-font);
  color: #4a4a4a;
  opacity: 70%;
  max-width: 456px;
  margin: 25px 0;
}

.home-wrapper .box-wrapper {
  display: flex;
  gap: 80px;
}

.home-wrapper .box-wrapper .box {
  display: flex;
  align-items: center;
  gap: 15px;
}

.box-wrapper .box i {
  font-size: 2rem;
  color: var(--main-color);
}

.box-wrapper .box p {
  font-family: var(--heading-font);
  color: #535353;
  font-size: 1.125rem;
  font-weight: 700;
}

.content-left .form-panel {
  position: relative;
  width: 640px;
  height: 110px;
  background-color: rgb(255, 255, 255);
  border-radius: 77px;
  margin-top: 50px;
  border: 3px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-panel img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.form-panel .title-form {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color);
  width: 200px;
  text-align: center;
  border-radius: 20px;
  padding: 10px 0;
}

.form-panel .form-location,
.form-date {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
}

.form-panel .form-location .loc,
.form-date .cal {
  font-size: 1.6rem;
  color: var(--main-color);
}

.form-location select {
  border: none;
  appearance: none;
  padding: 5px 10px;
}

.form-date input {
  border: none;
  padding: 5px 10px;
}

.form-panel .btn-search {
  position: relative;
  background-color: var(--second-color);
  color: #fff;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-panel .btn-search i {
  font-size: 25px;
}

.content-left .sugestion {
  font-size: 13px;
  margin-top: 13px;
  color: #ababab;
}

.home .content-left {
  flex: 0 0 50%;
}

.home .content-right {
  flex: 0 0 50%;
}

.content-right .img-wrapper {
  max-width: 800px;
}

.content-right .img-wrapper img {
  width: 100%;
}

/* Home End */

@media screen and (max-width: 991px) {
  .navbar .nav-wrapper {
    padding: 0 30px;
  }
  .nav-wrapper .menu-wrapper .menu {
    gap: 50px;
  }
  .nav-wrapper .menu-wrapper .menu .menu-link {
    font-size: 1rem;
  }
  .menu-wrapper .btn-member {
    padding: 20px 25px;
  }
}

@media screen and (max-width: 768px) {
  .nav-wrapper .menu-wrapper {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    display: block;
    text-align: center;
    padding-bottom: 3rem;
    border-radius: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.5s ease-in-out;
    background-color: var(--main-color);
  }
  .nav-wrapper .menu-wrapper.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: 0.5s ease-in-out;
  }
  .menu-toggle.bx-x {
    transform: rotate(360deg);
    transition: 0.5s;
  }
  .nav-wrapper .menu-wrapper .menu {
    display: block;
  }
  .menu-wrapper .menu .menu-item {
    margin: 30px 0;
  }
  .menu .menu-item .menu-link {
    color: #fff;
  }
  .nav-wrapper .menu-toggle {
    display: initial;
    font-size: 2.5rem;
    color: var(--main-color);
    transition: 0.5s;
  }
}
