* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-color: #ffc265;
  --secondary-color: #1da599;
  --primary-font: "Kufam", sans-serif;
}

body {
  font-family: "Nunito", sans-serif;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.navbar {
  margin-top: 80px;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__brand {
  display: flex;
  align-items: end;
}

.navbar__brand .navbar__logo {
  width: 45px;
  margin-bottom: 10px;
}

.navbar__brand .navbar__title {
  margin-left: -25px;
  font-size: 32px;
  color: var(--secondary-color);
  font-weight: 600;
  font-family: var(--primary-font);
}

.navbar__menu {
  display: flex;
  flex-direction: row;
  gap: 44px;
}

.navbar__link {
  color: #525252;
  font-size: 20px;
  font-weight: 400;
}

.navbar__link.active {
  color: var(--primary-color);
  font-weight: 700;
}

.navbar__button {
  padding: 15px 40px;
  font-size: 20px;
  color: #3f3f3f;
  background-color: var(--primary-color);
  border: 0px;
  font-weight: 700;
  border-radius: 10px;
}
